/.idea
/composer.lock
.DS_Store

/var/
/vendor/
/.deptrac.cache

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
.phpunit.result.cache
###< phpunit/phpunit ###

# >>> ortho-code - managed >>>
/.idea/
/.phpunit.cache/
/vendor/

/.deptrac.cache
/.phpunit.result.cache
/composer.lock

.DS_Store
# <<< ortho-code <<<
